.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  background-image: url(../sushi_background.jpg); /* https://www.freepik.com/vectors/cartoon-sushi/46 */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
  overflow: scroll;
}

header img {
  height: 30px;
  border-radius: 10%;
  vertical-align: -5px;
}

button {
  background-color: teal;
  color: white;
  border: none;
  border-color: teal;
  font-family: monospace;
  border-width: 2px;
  padding: 13px;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
  vertical-align: 6px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: blanchedalmond;
  color: black;
  grid-column: 1 / span 2;
  padding: 10px 5px;
  font-size: 30px;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

nav,
recipe {
  height: 100%;
  padding: 10px;
}

nav {
  background-color: blanchedalmond;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

recipe .date {
  font-style: italic;
}

recipe .name {
  white-space: break-spaces;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}
